h1{
	background: yellow;
	color: #333;
	padding: 10px 20px;
	font-size: 40px;
	text-transform: uppercase;
}
h2{
	
	padding: 10px 20px;
	font-size: 40px;
	text-transform: uppercase;
}
.profile-pic{
    border-radius: 50%;
}
.myheader{
  text-align:center;
  background-colour:grey;
  background-image: url("https://images.app.goo.gl/rc8wRuSgy98ndQuz9");
}
.lead {
    font-size: 1.25rem;
    font-weight: 500;
        color: snow;
}
#yo{
	background-image: url(ll.jpg);
}
#yo ol li
{
	font-size: 2em;
	color: snow;
}
#yo1{
	background-image: url(aa.jpg);
}
#yo1 p
{
	font-size: 2em;
	color: snow;
}
#yo2{
	background-image: url(a7.jpg);
}
#yo2 ol li
{
	font-size: 4em;
	color: snow;
}
#yo3{
	background-image: url(a3.jpg);
}
#yo3 ul li
{
	font-size: 2em;
	color: snow;
}
#yo4{
	background-image: url(a8.jpg);
}
#yo4 ul li
{
	font-size: 4em;
	color: snow;
}



